# [core]
# color = blue
# align = top
# display_modules = distro(), uname(n), uname(r), uptime(), wm(), de(), packages(), ram(), cpu(), env(editor), fs(/), mpd(albums)

[core]

display_modules = distro(), uname(n), uname(r), uptime(), wm(), de(), packages(), ram(), cpu(), env(editor), fs(/), mpd(albums)
# The information to display. Choices are:
# distro - distribution name & version
# uname - various pieces of information accessible via the uname command
# uptime - system uptime
# sensors - hardware information via the sensors command
# wm - the window manager currently in use
# de - the desktop enviroment currently in use
# packages - statistics about the systems packages
# ram - memory size and use
# env - enviroment variable display
# fs - partition size, usage and type
# mpd - music player daemon information

align = top
# The alignment of the information. Options are top, bottom, center

color = blue
# The color of the logo and information labels. Options are blue,
# black, red, green, yellow, magenta, cyan and white

poolsize = 5
# The number of workers to process the display_modules. It's probabaly not worth
# increasing this, as the overhead will probabaly take away any benefit, and
# archey3 runs in about .11 seconds on my machine.

screenshotwait = 5
# The time in seconds to wait before taking a screenshot after
# printing the archlinux logo and system information

screenshot_command = import -window root .jpg
# The command that will be run when a screenshot needs to be taken. 
# will be replaced with the current date and time.

[fs]

# The set of units to use when displaying partition size
unit = si

# The upper bound in persentage for a drive to be concidered not 
# low on space, and colored accordingly

low_bound = 40
# The lower bound in persentage for a drive to be convidered low
# on space, and colored accordingly

persentage = True
# A boolean to control if the persentage of space used is shown beside
# the rest of the partition information

[sensor]

sensor = cortemp-*
# The sensor for the module to display. This may also be passed as an
# argument.

[uname]

argument = None
# The argument to pass to uname. This may also be passed as an argument
# in the display array

[wm]

# manual = False
# If it does not equal False, this will be used as the detected window
# manager, instead of running the autodetection routine

[de]

# manual = False
# If it does not equal False, this will be used as the detected desktop
# enviroment, instead of running the autodetection routine

[mpd]

# host = localhost
# The host the mpd server is running on.

# port = 6600
# The port the mpd server is running on.
